<include file="include_home_employee.html"></include>
<!DOCTYPE html>
<html>
    <head>
        <!--script src="https://cdn.jsdelivr.net/npm/chart.js"></script-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <style>
    canvas{
        background-color: white;
        border-radius: 12px;
    }
    </style>
<body style="color:#fff;">
    {% extends "home_employee.html" %}
    {% block content %}
    <div style="width:600px; height:500px">       
         <canvas id="myChart" style="border: solid;position: absolute; left: 600px; top: 100px; border-color: black;"></canvas>
         <div style="width:30px; height:100px">
         <canvas id="info1" style="border: solid;position: absolute; left: 200px;top: 200px;
         background-color: #221f1a; "></canvas>
</div>
<div style="width:30px; height:100px">
    <canvas id="info2" style="border: solid;position: absolute;left: 200px;top: 400px;
    background-color: #221f1a; ">
</canvas>
</div>
        </div>
        <div style="width:200px; height:60px;border: solid; position: absolute; padding-bottom:8px;left: 800px;top: 630px;display: inline;border-radius: 10px; ">
            <p id="score" style="text-align:center;"><br>Total Score:</p>
            <p id="id" style="text-align:center;"></p>
</div>
<script>
    var canvas2 = document.getElementById('info1');
    var context2 = canvas2.getContext('2d');

    context2.font = "15px Arial";
    var canvas3 = document.getElementById('info2');
    var context3 = canvas3.getContext('2d');
    context3.font = "15px Arial";

    
        context2.beginPath();
        context2.arc(40,20,5,0,2*Math.PI);
        context2.fillStyle="rgb(255, 99, 132)";
        context2.strokeStyle='black';     
        context2.fill();
        context2.stroke();
        context2.beginPath();
        context2.fillStyle = 'white';
        context2.fillText("Category 1", 50, 26,1000);
        context2.fillText("0 - Never", 40, 55,1000);
        context2.fillText("1 - Almost Never", 40, 75,1000);
        context2.fillText("2 - Sometimes", 40, 95,1000);
        context2.fillText("3 - Fairly Often", 40, 115,1000);
        context2.fillText("4 - Very Often", 40, 135, 1000);

        context3.beginPath();
        context3.arc(40,20,5,0,2*Math.PI);
        context3.fillStyle="rgb(75, 192, 132)";
        context3.strokeStyle='black';     
        context3.fill();
        context3.stroke();
        context3.beginPath();
        context3.fillStyle = 'white';
        context3.fillText("Category 2", 50, 26,1000);
        context3.fillText("4 - Never", 40, 55,1000);
        context3.fillText("3 - Almost Never", 40, 75,1000);
        context3.fillText("2 - Sometimes", 40, 95,1000);
        context3.fillText("1 - Fairly Often", 40, 115,1000);
        context3.fillText("0 - Very Often", 40, 135, 1000);
        
        window["score_array"]=eval("("+localStorage.getItem("score_array")+")");
        score_val=localStorage.getItem("score_val");
        document.getElementById("score").innerHTML+=score_val;
        if(score_val<14){
        document.getElementById("id").innerHTML="Low Stress";
        document.getElementById("id").style.color="green";
        }
        else if(score_val>13 && score_val<27){
            document.getElementById("id").innerHTML="Medium Stress";
        document.getElementById("id").style.color="orange";
}
        else if(score_val>26 && score_val<=40){

 document.getElementById("id").innerHTML="High Stress";
document.getElementById("id").style.color="red";
}
       // var new_arr1=window["score_array"];
        var new_arr=window["score_array"];
    for(i=0;i<new_arr.length;i++){
    if(i==0 || i==1 || i==2 || i==5 || i==8 || i==9){
        if(new_arr[i]=="Never"){
            new_arr[i]=0;
        }
       else if(new_arr[i]=="Almost Never"){
            new_arr[i]=1;
        }
        
       else if(new_arr[i]=="Sometimes"){
            new_arr[i]=2;
        }
        
       else if(new_arr[i]=="Fairly Often"){
            new_arr[i]=3;
        }
        
       else if(new_arr[i]=="Very Often"){
            new_arr[i]=4;
        }
    }
    else if(i==3 || i==4 || i==6 || i==7){
        if(new_arr[i]=="Never"){
            new_arr[i]=4;
        }
       else if(new_arr[i]=="Almost Never"){
            new_arr[i]=3;
        }
        
       else if(new_arr[i]=="Sometimes"){
            new_arr[i]=2;
        }
        
       else if(new_arr[i]=="Fairly Often"){
            new_arr[i]=1;
        }
        
       else if(new_arr[i]=="Very Often"){
            new_arr[i]=0;
        }
    }

    }
const labels = [
  1,2,3,4,5,6,7,8,9,10
];
const data = {
  labels: labels,
  datasets: [{
    label: 'Questionnaire',
    pointRadius:5,
    data:[new_arr[0],new_arr[1],new_arr[2],new_arr[3],new_arr[4],new_arr[5],new_arr[6],new_arr[7],new_arr[8],new_arr[9]],
    
    backgroundColor:[ 'rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)','rgb(75, 192, 132)','rgb(75, 192, 132)','rgb(255, 99, 132)','rgb(75, 192, 132)','rgb(75, 192, 132)','rgb(255, 99, 132)','rgb(255, 99, 132)'],
    borderColor: 'black',
},

]
};
const config = {
  type: 'line',
  data,
  options: {
      responsive:true,
      maintainAspectRatio:false,
      
      scales: { 
          yAxes:
           { 
               title:{ 
                   display: true,
                    text: "SCORE",
                     font: {
                          size: 10 
                    } 
                }, ticks: { 
                    precision: 0 
                } 
            }, 
            xAxes: { 
                title: { 
                    display: true, 
                    text: "QUESTIONS",
                     font: { 
                         size: 10
                         } 
                        } 
                    } 
                }, 
                plugins: { 
                    legend: {
                     display: false,
                     },
                     tooltip:{
                        mode:'nearest',
                        intersect:false
                     }
                     
                     }
                    
  }
};
var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );

</script>
    {% endblock %}
    </body>
    </html>